/* public */
body {
  background-color: #f9f9f9;
}
#main-drawer {
  background-color: #fff;
}
main.mdui-container {
  margin-top: 30px;
}

button > i {
  margin-top: -4px;
}
a > i {
  margin-top: -4px;
}
.row {
  display: flex;
  flex-direction: row;
}
.col {
  display: flex;
  flex-direction: column;
}

/* reset */
.mdui-collapse-item-body {
  background-color: #fafafa;
}

/* privite */
main {
  background-color: #fff;
  padding: 30px !important;
}

.crumbs {
  margin-top: -30px;
  align-items: center;
}

.crumbs div {
  margin-left: 20px;
  margin-top: 24px;
}

/* 分页 */
.paging {
  margin: 20px 0;
}
.paging a {
  display: block;
  padding: 0 10px;
}
.paging a.active {
  /* color: red !important; */
}
