.row{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.col{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.url-list{
    width: 300px;
    max-height: 80vh; overflow-y: auto;
}
.url-list .submit{
    width: 3em;
    padding: 5px 10px;
    background: blue;
    color: aliceblue;
    border-radius: 3px;
}
.url-list li{
    padding:0 10px;
}
.url-list li pre{
    flex: 1;
    margin-right: 10px;
}
.url-list li pre code{
    background: #eee;
    padding: 0 4px;
}

.url-list>div:nth-child(2n-1){
    background: #f9f9f9;
}

.url-list>div li.active{
    background: #ddd;
}

.hide-text-1 {
	display: -webkit-box !important;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	overflow: hidden;
}

.hide-text-2 {
	display: -webkit-box !important;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden
}

.hide-text-3 {
	display: -webkit-box !important;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	overflow: hidden
}


pre {outline: 1px solid #ccc; padding: 5px; margin: 5px;max-height: 80vh; overflow-y: auto;}
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }