{{template "admin/header"}}
<div class="mdui-typo">
  <!-- <h1>admin</h1> -->
  <div class="mdui-row">
    <div class="mdui-col-xs-9">
      <dic class="mdui-row">
        <img data-src="holder.js/1040x200?bg=#9a70ff&fg=#fff" alt="" />
      </dic>
      <div class="mdui-row">
        <div class="mdui-col-xs-4">mdui-col-xs-4</div>
        <div class="mdui-col-xs-4">mdui-col-xs-4</div>
        <div class="mdui-col-xs-4">mdui-col-xs-4</div>
        <div class="mdui-col-xs-4">mdui-col-xs-4</div>
      </div>
    </div>
    <aside class="mdui-col-xs-3 mdui-color-white">
      <!-- 卡片头部，包含头像、标题、副标题 -->
      <div class="mdui-card-header">
        <img
          data-src="holder.js/40x40"
          class="mdui-card-header-avatar"
          src="avatar.jpg"
        />
        <div class="mdui-card-header-title">Title</div>
        <div class="mdui-card-header-subtitle">Subtitle</div>
      </div>
      <!-- 卡片的媒体内容，可以包含图片、视频等媒体内容，以及标题、副标题 -->
      <div class="mdui-card-media">
        <img data-src="holder.js/300x200" />

        <!-- 卡片中可以包含一个或多个菜单按钮 -->
        <div class="mdui-card-menu">
          <button class="mdui-btn mdui-btn-icon mdui-text-color-white">
            <i class="mdui-icon material-icons">share</i>
          </button>
        </div>
      </div>

      <!-- 卡片的标题和副标题 -->
      <div class="mdui-card-primary">
        <div class="mdui-card-primary-title">Title</div>
        <div class="mdui-card-primary-subtitle">Subtitle</div>
      </div>

      <!-- 卡片的内容 -->
      <div class="mdui-card-content">
        子曰：「学而时习之，不亦说乎？有朋自远方来，不亦乐乎？人不知，而不愠，不亦君子乎？」
      </div>
    </aside>
  </div>
</div>
<script>
  mdui.JQ('#example-alert-1').on('click', function () {
    mdui.alert('content', '提示');
  });
</script>
{{template "admin/footer"}}
