html {
  background-color: #4daf60;
}

#app {
  display: flex;
  flex-direction: row;
}
.other h1 {
  font-size: 10em;
  flex: 1;
}

.fake-input {
  display: flex;
  flex-direction: row;
}
.fake-input input {
  flex: 1;
  background-color: #eee;
  margin-right: 10px;
}

.chat {
  width: 500px;
  height: 80vh;
  margin: 30px;
  float: left;
  background-color: #ffffff;
  box-shadow: 0 10px 10px #4fab61;
  border-radius: 10px;
  padding: 20px;
  position: relative;
  color: #636363;
}
.chat::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  box-shadow: 0 10px 10px #4fab61;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}

.chat #output {
  height: calc(98% - 70px);
  overflow-y: auto;
}

.chat input{
  outline:none;
  border:0;
  border-radius:5px;
  padding:0 10px;
}

.chat button{
  outline:none;
  border:0;
  border-radius:5px;
  padding:5px 10px;
  background-color: #4dae60;
  color: #fff;
}

.chat #output .user-name{
  font-weight: bold;
  color: #797979;
  display: block;
  margin-top: 20px;
}

.chat #output .msg .bubbles{
  background-color: #4b6ddc;
  padding: 10px;
  color: #fff;
  border-radius: 6px;
  margin-left: 20px;
  width: auto;
  display: inline-block;
  margin-top: 10px;
}

.chat #output .ismine .bubbles{
  background-color: #63e0aa;
}

.chat #output .notify{
  background-color: rgb(78 78 78 / 55%);
  color:#fff;
  /* margin:auto; */
  display:inline-block;
  font-size:.8em;
  padding: 1px 6px;
  border-radius: 4px;
  margin-top: 6px;
}